@page
@model FreshFarmMarket.Pages.errors._403Model
@{
    ViewData["title"] = "Access Forbidden";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px; ">Access is Forbidden</p>
    <p>The page you are looking for has been forbidden access.</p>
    <p>Please navigate back to <a href="https://localhost:7236/Login">Login</a></p>
</div>
