@page
@model FreshFarmMarket.Pages.errors._500Model
@{
    ViewData["title"] = "Internal Server Error";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">500</h1>
    <p>An Internal Server Error has occurred.</p>
    <p>Please navigate back to <a href="https://localhost:7236/Login">Login</a></p>
</div>
