@page
@model FreshFarmMarket.Pages.RegisterModel
@{
}

<script type="text/javascript">

    function validatePassword(){
        var str = document.getElementById('RModel_Password').value;
        console.log("validating password");
        
        if (str.length < 12) {
            document.getElementById("passwordCheck").innerText = "Password must be at least 12 characters";
            document.getElementById("passwordCheck").style.color = "Red";
            return ("too_short");
        }
        else if (str.search(/[a-z]/) == -1) {
            document.getElementById("passwordCheck").innerText = "Password must have at least 1 lowercase letter";
            document.getElementById("passwordCheck").style.color = "Red";
            return ("no_lowercase_letter");
        }
        else if (str.search(/[A-Z]/) == -1) {
            document.getElementById("passwordCheck").innerText = "Password must have at least 1 uppercase letter";
            document.getElementById("passwordCheck").style.color = "Red";
            return ("no_uppercase_letter");
        }
        else if (str.search(/[0-9]/) == -1){
            document.getElementById("passwordCheck").innerText = "Password must have at least 1 number";
            document.getElementById("passwordCheck").style.color = "Red";
            return ("no_number");
        }
        else if (str.search(/[^a-zA-Z0-9]/) == -1) {
            document.getElementById("passwordCheck").innerText = "Password must have at least 1 special character";
            document.getElementById("passwordCheck").style.color = "Red";
            return ("no_special_character");
        }
        else {
            document.getElementById("passwordCheck").innerText = "Valid Password";
            document.getElementById("passwordCheck").style.color = "Green";
        }
    }

    function validateCreditCardNo() {
        var credit_card_no = document.getElementById('RModel_CreditCardNo').value;
        
        if (isNaN(parseInt(credit_card_no))) {
            document.getElementById("creditCardNoCheck").innerText = "Credit card number must be a valid number";
        } else {
            if (credit_card_no.length !== 16) {
                document.getElementById("creditCardNoCheck").innerText = "Credit card number must be 16 digits";
            } else {
                document.getElementById("creditCardNoCheck").innerText = "";
            }
        }
    }

    function validateGender() {
        var gender = document.getElementById("RModel.Gender").value;
        if ((!/^[a-zA-Z]+$/.test(gender))) {
            document.getElementById("genderCheck").innerText = "Gender must be a string";
        }
        else {
            document.getElementById("genderCheck").innerText = "";
        }
    }

    function validateMobileNo(){
        var mobile_no = document.getElementById('RModel.MobileNo').value;

        if (isNaN(parseInt(mobile_no))) {
            document.getElementById("mobileNoCheck").innerText = "Mobile number must be a valid number";
        } else {
            if (credit_card_no.length !== 8) {
                document.getElementById("mobileNoCheck").innerText = "Mobile number must be 8 digits";
            } else {
                document.getElementById("mobileNoCheck").innerText = "";
            }
        }

    }

    function validateEmail() {
        var email = document.getElementById('RModel_Email').value;
        var regex = /^\w+[\+\.\w-]*@@([\w -] +\.)*\w+[\w-]*\.([a-z]{2,4}|\d+)$/i;
        if (!regex.test(email)) {
            document.getElementById("emailCheck").innerText = "Invalid email format";
        } else {
            document.getElementById("emailCheck").innerText = "";
        }
    }

</script>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register</h1>
            <form method="post">

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.FullName">Full Name</label>
                    <input type="text" asp-for="RModel.FullName" class="form-control" />
                    <span asp-validation-for="RModel.FullName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.CreditCardNo">Credit Card Number</label>
                    <input type="text" asp-for="RModel.CreditCardNo" class="form-control" onkeyup="validateCreditCardNo()"/>
                    <span id="creditCardNoCheck"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Gender">Gender</label>
                    <input type="text" asp-for="RModel.Gender" class="form-control" />
                    <span id="genderCheck"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.MobileNo">Mobile Number</label>
                    <input type="text" asp-for="RModel.MobileNo" class="form-control" onkeyup="validateMobileNo()" />
                    <span id="mobileNoCheck"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.DeliveryAddress">Delivery Address</label>
                    <input type="text" asp-for="RModel.DeliveryAddress" class="form-control" />
                    <span asp-validation-for="RModel.DeliveryAddress" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Email">Email Address</label>
                    <input type="text" asp-for="RModel.Email" class="form-control" onkeyup="validateForm()" />
                    <span id="emailCheck"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Password">Password</label>
                    <input type="password" asp-for="RModel.Password" class="form-control" onkeyup="validatePassword()" />
                    <span id="passwordCheck"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="RModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.Photo">Photo</label>
                    <input type="file" asp-for="RModel.Photo" class="form-control" />
                    <span asp-validation-for="RModel.Photo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="RModel.AboutMe">About Me</label>
                    <input type="text" asp-for="RModel.AboutMe" class="form-control" />
                    <span asp-validation-for="RModel.AboutMe" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>